//intro container
.intro-container {
  img {
    width: 100%;
    display: block;
  }

  .intro-text,
  .intro-img {
    min-height: 360px;
  }

  @include for-phone-only{
    .intro-text,
    .intro-img {
      min-height: auto;
    } 
  }
}

//how to help container

.how-to-help-container {
  background: #e2d3d4;
  padding: 60px 0px;

  div.col-md-4 {
    text-align: Center;
    display: flex;
    flex-direction: column;
  }
  img {
    max-width: 100px;
    display: block;
    margin: 0 auto;
  }

  a.btn {
    padding: 0.5rem 2rem;
    font-weight: bold;
  }

  ul {
    display: block;
    padding: 0px;
    margin: 0px;
    li {
      list-style: circle;
      font-size: 18px;
      text-align: left;
      padding: 3px 0px;
      font-weight: 500;
    }
  }
}

//interview container
.interview-container {
  padding: 60px 0px;
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 18px;
    padding: 16px 0px;
    border-bottom: 2px solid #000;
    margin-bottom: 16px;
  }
  iframe {
    width: 100%;
    max-width: 560px;
    display: block;
    min-height: 280px;
    max-height: 400px;
    margin-bottom: 24px;
    display: block;
  }
}

//slider
.mySwiper {
  padding: 0px 0px 100px 0px;

  .swiper-pagination {
    bottom: 24px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    background: #fff;
    border-radius: 100px;
    padding: 16px 22px;
    top:50%;
    margin-top:-70px;

    &:after{
      transform: scale(.5);
    }
  }

  .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    margin: 0 8px 0px 8px;
  }
  .swiper-slide {
    width: 90%;
  }
  img {
    width: 100%;
  }
}


//cards container

.cards-container{
  div.card{
    position:relative;
    border-radius:60px;
    border:none;
    margin-bottom:24px;
    width:100%;
    max-width:280px;
    margin:0px auto 30px auto;
//    background:#e33f3f;

a{
  display:block;
  text-decoration: none;

  &:hover{
    img{
      transform: scale(1.2);
    }
    div.card-title{
      background:#f1f1f1;
      color:$red;
    }
  }
}
    figure{
      position:relative;
      border-radius:60px;
      overflow:hidden;
      width:100%;
      max-width:280px;
      min-height:290px;
      display:block;
      background:#eee;
      img{
        transition: .2s ease-in;
        width:100%;

      }

      
    }

    div.card-title{
      background:#e33f3f;        
      transition: .2s ease-in;
      border-radius:30px;
      color:#fff;
      padding:90px 16px 0px 16px;
      font-size:22px;
      text-align:center;
      margin-top:-90px;
      height:150px;
      max-width:280px;
      text-decoration: none;

    }

    div.card-description{
      color:#000;
      font-size:16px;

    }
  }
}