<!-- navigation -->

<nav class="navbar navbar-expand-lg  navbar-dark bg-dark px-sm-4">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="container">
            <div class="row">
                <div class="col-md-5 d-lg-flex d-md-flex justify-content-between">
                    <div class="d-block">
                        <a href="#" id="logo" class="d-md-block d-sm-none"><img src="{{assets}}images/LOGO.jpg" /></a>
                    </div>
                    <div>
                        <h5 class="text-white d-flex pt-2 fw-bold">LondonMail &nbsp;<i class="fa
                                    fa-envelope text-danger"></i></h5>
                    </div>
                    <div>
                        <h5 class="text-white d-flex pt-2 fw-bold">StaffMail &nbsp;<i class="fa
                                    fa-envelope text-white"></i> </h5>
                    </div>
                </div>
                <div class="col-md-7 d-lg-flex d-md-flex justify-content-end">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page"
                                href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Buy</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#"
                                id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Services
                            </a>
                            <ul class="dropdown-menu"
                                aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another
                                        action</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something
                                        else
                                        here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" tabindex="-1"
                                aria-disabled="true">Educators</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" tabindex="-1"
                                aria-disabled="true">Safeguarding</a>
                        </li>
                        <li class="nav-item">
                            <button>
                                <i class="fa fa-search"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
        </div>
    </div>
</nav>

<!-- navigation close-->